.green {
    color: #66B032;
}

.yellow {
    color: #FEFE34
}

.amber {
    color: #FEFE34
}

.orange {
    color: #FB9900
}

.red {
    color: #FE2713
}

#gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 
    100px 32.5vh 32.5vh 25vh;
    grid-template-areas:
    ". get title title go ."
    "feed pet pet pet pet play"
    "drink pet pet pet pet vet"
    ". hunger thirst happiness health .";
}

#pet {
    grid-area: pet;
}

#health {
    grid-area: health;
}

#thirst {
    grid-area: thirst;
}

#happiness {
    grid-area: happiness;
}

#hunger {
    grid-area: hunger;
}

#play {
    grid-area: play;
}

#vet {
    grid-area: vet;
}

#feed {
    grid-area: feed;
}

#drink {
    grid-area: drink;
}

#get_button {
    grid-area: get;
}
#start_button {
    grid-area: go;
}