body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
    background: #cfe7fa;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #cfe7fa 0%, #6393c1 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #cfe7fa 0%, #6393c1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #cfe7fa 0%, #6393c1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe7fa', endColorstr='#6393c1', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-repeat: space;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}

button {
    background-color: #FCCD6A;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

p {
    line-height: 1.6;
}

input[type=text] {
    width: 90%;
    font-family: 'Press Start 2P', cursive;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type=submit] {
    background-color: #FCCD6A;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

.green {
    filter: invert(86%) sepia(12%) saturate(4708%) hue-rotate(40deg) brightness(80%) contrast(67%);
}

.yellow {
    filter: invert(100%) sepia(43%) saturate(3292%) hue-rotate(345deg) brightness(103%) contrast(106%);
}

.amber {
    filter: invert(81%) sepia(34%) saturate(5446%) hue-rotate(4deg) brightness(101%) contrast(104%);
}

.orange {
    filter: invert(67%) sepia(44%) saturate(4663%) hue-rotate(3deg) brightness(104%) contrast(100%);
}

.red {
    filter: invert(29%) sepia(75%) saturate(5326%) hue-rotate(352deg) brightness(98%) contrast(104%);
}

.hidden {
    display: none !important
}

#tutorialPage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:
        100px 32.5vh 32.5vh 0vh 0vh 25vh;
    grid-template-areas:
        ". . title title . ."
        ". pet pet pet pet ."
        ". pet pet pet pet ."
        ". text text text text ."
        ". . go go . ."
        ". hungerEX thirstEX happinessEX vetEX .";
}


#thirstEX {
    grid-area: thirstEX;
    margin-left: auto;
    margin-right: auto;
}

#happinessEX {
    grid-area: happinessEX;
    margin-left: auto;
    margin-right: auto;
}

#hungerEX {
    grid-area: hungerEX;
    margin-left: auto;
    margin-right: auto;
}


#vetEX {
    grid-area: vetEX;
    margin-left: auto;
    margin-right: auto;
}

#tutorialText {
    grid-area: text;
    transform: translateY(-150px);
    margin-right: auto;
    margin-left: auto;
}

#start_button {
    grid-area: go;
    transform: translateY(-80px);
    margin-left: auto;
    margin-right: auto;
}


#initialPage {
    display: grid;
    grid-template-columns:
        15vw 70vw 15vw;
    grid-template-rows:
        100px auto;
    grid-template-areas:
        ". title ."
        ". intro ."
        ". form ."
}

#intro {
    grid-area: intro;
    margin-right: auto;
    margin-left: auto;

}


#startForm {
    grid-area: form;
    margin-right: auto;
    margin-left: auto;
}

#gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:
        100px 32.5vh 32.5vh 25vh;
    grid-template-areas:
        ". get title title go ."
        ". pet pet pet pet ."
        ". pet pet pet pet ."
        ". hunger thirst happiness vet .";
}

#pet {
    grid-area: pet;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-100px);
}



#thirst {
    grid-area: thirst;
    margin-left: auto;
    margin-right: auto;
}

#thirst:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#thirst:active {
    transform: scale(0.95)
}

#happiness {
    grid-area: happiness;
    margin-left: auto;
    margin-right: auto;
}

#happiness:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#happiness:active {
    transform: scale(0.95)
}

#hunger {
    grid-area: hunger;
    margin-left: auto;
    margin-right: auto;
    transition: ease-in-out 0.15s;
}

#hunger:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#hunger:active {
    transform: scale(0.95)
}


#vet {
    grid-area: vet;
    margin-left: auto;
    margin-right: auto;
}

#vet:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#vet:active {
    transform: scale(0.95)
}

.title {
    grid-area: title;
    margin-left: auto;
    margin-right: auto;
}



#get_button {
    grid-area: get;
}

.used {
    transform: translateY(100px);
    animation-name: slide;
    animation-duration: 5.2s;
    pointer-events: none;
    cursor: default !important;
}


@keyframes slide {
    from {
        transform: translateY(25vh) scale(0.5)
    }

    to {
        transform: translateY(0px) scale(1)
    }
}

.action {
    animation: alive ease 0.7s infinite
}

@keyframes alive {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(30px)
    }

    100% {
        transform: translateY(0px)
    }
}

#gameOver {
    display: grid;
    grid-template-columns:
        15vw 70vw 15vw;
    grid-template-rows:
        100px auto;
    grid-template-areas:
        ". title ."
        ". gameOver ."
        ". outro ."
        ". score ."

}

#gameOverText {
    grid-area: gameOver;
    margin-left: auto;
    margin-right: auto;
}

#outro {
    grid-area: outro;
    margin-left: auto;
    margin-right: auto;
}

#finalScore {
    grid-area: score;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem
}