body {
    background-color: gray
}

.green {
    filter: invert(86%) sepia(12%) saturate(4708%) hue-rotate(40deg) brightness(80%) contrast(67%);
}

.yellow {
    filter: invert(100%) sepia(43%) saturate(3292%) hue-rotate(345deg) brightness(103%) contrast(106%);
}

.amber {
    filter: invert(81%) sepia(34%) saturate(5446%) hue-rotate(4deg) brightness(101%) contrast(104%);
}

.orange {
    filter: invert(67%) sepia(44%) saturate(4663%) hue-rotate(3deg) brightness(104%) contrast(100%);
}

.red {
    filter: invert(29%) sepia(75%) saturate(5326%) hue-rotate(352deg) brightness(98%) contrast(104%);
}

.hidden {
    display: none
}


#gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:
        100px 32.5vh 32.5vh 25vh;
    grid-template-areas:
        ". get title title title go ."
        ". pet pet pet pet pet ."
        ". pet pet pet pet pet ."
        ". hunger thirst happiness vet health .";
    margin: 0px
}

#pet {
    grid-area: pet;
    margin-left: auto;
    margin-right: auto;
}

#health {
    grid-area: health;
    margin-left: auto;
    margin-right: auto;
}

#thirst {
    grid-area: thirst;
    margin-left: auto;
    margin-right: auto;
}

#happiness {
    grid-area: happiness;
    margin-left: auto;
    margin-right: auto;
}

#hunger {
    grid-area: hunger;
    margin-left: auto;
    margin-right: auto;
}


#vet {
    grid-area: vet;
    margin-left: auto;
    margin-right: auto;
}





#get_button {
    grid-area: get;
}

#start_button {
    grid-area: go;
}